<div class="well">
  <%= simple_form_for(@admin_message) do |f| %>
      <% if @admin_message.errors.any? %>
          <div class="alert alert-error">
            <ul class="list-unstyled">
              <% @admin_message.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.input :message, label: 'Nachricht', placeholder: 'Nachricht' %>

      <div class="form-group">
        <%= f.submit 'Speichern', class: 'btn btn-danger' %>
        <%= link_to 'Abbrechen', admin_messages_path, class: 'btn btn-default' %>
      </div>
  <% end %>
</div>
