<%= javascript_tag render partial: 'application/eventstream/eventstream', formats: [:js], locals: {event_id: @event_id, projection: 'AdminMessageProjection'} %>
<h1>Listing admin messages</h1>

<table class="table">
  <thead>
    <tr>
      <th>Message</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_messages.each do |admin_message| %>
      <tr>
        <td><%= link_to admin_message.message, admin_message %></td>
        <td><%= admin_message.user.benutzername %></td>
        <td>
          <span class="pull-right">
            <%= link_to 'Bearbeiten', edit_admin_message_path(admin_message), class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Löschen', admin_message, method: :delete, data: { confirm: 'Bist du dir sicher, dass du diese Nachricht entfernen möchtest?' }, class: 'btn btn-danger btn-xs' %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neue Nachricht an Admin senden', new_admin_message_path, class: 'btn btn-danger' %>
