<div class="well">
  <%= simple_form_for(shallow_args(@thema, @topic)) do |f| %>
    <% if @topic.errors.any? %>
      <div class="alert alert-error">
        <ul class="list-unstyled">
          <% @topic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :title, label: 'Titel', placeholder: 'Titel' %>
    <span class="pull-right">
      <%= link_to 'Abbrechen', :back || thema_path(:thema_id), class: 'btn btn-default' %>
      <%= f.submit 'Speichern', class: 'btn btn-danger' %>
    </span>
    <div class="clearfix" />

  <% end %>
</div>
