<%= javascript_tag render partial: 'application/eventstream/eventstream', formats: [:js], locals: {event_id: @event_id, projection: 'TopicProjection'} %>
<h1>Topic übersicht</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Erstellt von</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic_path(id: topic.id) %></td>
        <td><%= topic.benutzername %></td>
        <td>
          <span class="pull-right">
            <%= link_to 'Bearbeiten', edit_topic_path(id: topic.id), class: 'btn btn-warning btn-xs' %>
            <%= link_to 'Löschen', topic, method: :delete, data: { confirm: 'Willst du das Topic wirklich löschen?' }, class: 'btn btn-danger btn-xs' %></td>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
