<%= javascript_tag render partial: 'application/eventstream/eventstream', formats: [:js], locals: {event_id: @event_id, projection: 'TopicProjection'} %>

<p class="hint"><%= link_to 'Zur체ck zum Thema', thema_path(id: @topic.thema_id), class: 'btn btn-default' %></p>

<div class="jumbotron">
  <h1>
    <%= @topic.title %>
  </h1>

  <p>
    <strong>Ersteller:</strong>
    <%= @topic.benutzername %>
  </p>

  <p><%= link_to 'Verfolgen', new_subscription_path(topic_id: @topic.id), class: 'btn btn-primary' %></p>


</div>

<h2>Beitr채ge</h2>

<% if @topic.posts.empty? %>
  <p class="hint">Es wurden bisher noch keine Beitr채ge verfasst.</p>
<% else %>
  <ul class="list-unstyled">
    <% @topic.posts.each do |post| %>
    <%= render 'posts/single_post', post: post %>
    <% end %>
  </ul>
<% end %>


<p> 
  
  <%= link_to 'Beitrag hinzuf체gen', new_topic_post_path(topic_id: @topic.id), class: 'btn btn-primary btn-sm' %>
  <span class="pull-right">
    <%= link_to 'Diskussion bearbeiten', edit_topic_path(@topic), class: 'btn btn-warning btn-sm' %>
  </span>
  
</p>