<%= javascript_tag render partial: 'eventstream', formats: [:js], locals: {event_id: @event_id} %>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@topic.user_id).benutzername %>
</p>

<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th>Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topic.posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= post.user_id %></td>
        <td><%= post.time %></td>
        <td><%= link_to 'Show', thema_topic_post_path(id: post.id, topic_id: @topic.id) %></td>
        <td><%= link_to 'Edit', edit_thema_topic_post_path(id: post.id, topic_id: @topic.id) %></td>
        <td><%= link_to 'Destroy', thema_topic_post_path(id: post.id, topic_id: @topic.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_thema_topic_post_path(topic_id: @topic.id) %>


<%= link_to 'Edit', edit_thema_topic_path(id: @topic.id, thema_id: @topic.thema_id) %> |
<%= link_to 'Back', thema_topics_path %>
