<%= javascript_tag render partial: 'eventstream/eventstream', formats: [:js], locals: {event_id: @event_id} %>

<p>
  <h1><%= @topic.title %></h1>
</p>

<p>
  <strong>User:</strong>
  <%= User.find(@topic.user_id).benutzername %>
</p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>User</th>
      <th>Time</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topic.posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.text %></td>
        <td><%= User.find(post.user_id).benutzername %></td>
        <td><%= post.time %></td>
        <td><%= link_to 'Edit', edit_post_path(post, topic_id: post.topic_id) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_topic_post_path(topic_id: @topic.id) %>


<%= link_to 'Topic bearbeiten', edit_topic_path(@topic) %> |
<%= link_to 'Zurück zum Thema', thema_path(id: @topic.thema_id) %>
