<%= javascript_tag render partial: 'application/eventstream/eventstream', formats: [:js], locals: {event_id: @event_id, projection: 'TopicProjection'} %>

<p>
  <h1><%= @topic.title %></h1>
</p>

<p>
  <strong>Ersteller:</strong>
  <%= @topic.benutzername %>
</p>

<h2>Posts</h2>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Post</th>
      <th>Time</th>
      <th>Aktionen</th>
    </tr>
  </thead>

  <tbody>
    <% @topic.posts.each do |post| %>
      <tr>
        <td>Erstellt von:<br>
          <strong><%= post.benutzername %></strong><br>
          <%= user_gravatar(post.gravatar_id) %>
        </td>
        <td><strong><%= post.title %></strong><br>
          <%= post.text %>
        </td>
        <td><%= l post.created_at, format: :short %></td>
        <td><%= link_to 'Edit', edit_post_path(post, topic_id: post.topic_id) %><br>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_topic_post_path(topic_id: @topic.id) %>


<%= link_to 'Topic bearbeiten', edit_topic_path(@topic) %> |
<%= link_to 'Zurück zum Thema', thema_path(id: @topic.thema_id) %>
