<h1>Login</h1>

<% if flash[:error] -%> <p class="error"><%= flash[:error] %></p> <% end -%>

<%= form_tag( "/login" , method: "post") do  %>
  <%= label_tag :benutzername %><br>
  <%= text_field_tag :benutzername %><br>
  <br>
  <%= label_tag :passwort %><br>
  <%= password_field_tag :passwort%><br>
  <br>
  <%= submit_tag "Log in!" %>
<% end %><br>
<%= link_to 'Registrieren' , new_user_path %>