<div class="col-sm-6 col-xs-offset-3">
  <h1>Anmelden</h1>
  <div class="well">

    <%= simple_form_for(@user, url: login_users_path, method: :post) do |f| %>

      <%= f.input :benutzername, label: 'Benutzername', placeholder: 'Benutzername' %>
      <%= f.input :passwort, label: 'Passwort', placeholder: 'Passwort', as: :password %>
      <%= hidden_field_tag( :merk, params[:merk]) %>
      <%= f.submit 'Anmelden', class: 'btn btn-danger pull-right' %>
      <div class="clearfix" />
    <% end %>
  </div>
</div>