<h1>Registrieren</h1>
<p>Für unsere im Testbetrieb stehenden Dienste müssen Sie sich registrieren</p>
<ul class="messages">
  <%- @user.errors.full_messages.each do |msg| %>
    <li class="error"><%= msg %></li>
  <%- end %>
</ul>
<%= form_for(@user) do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>
  <%= f.label :vorname %><br>
  <%= f.text_field :vorname %><br>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br>
  <%= f.label :benutzerame %><br>
  <%= f.text_field :benutzername %><br>
  <%= f.label :passwort %><br>
  <%= f.password_field :passwort%><br>
  <%= f.submit%><br>
<% end %>