<div class="col-sm-6 col-xs-offset-3">
  <h1>Registieren</h1>
  <div class="well">

    <%= simple_form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div class="alert alert-error">
          <ul class="list-unstyled">
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :vorname, label: 'Vorname', placeholder: 'Vorname' %>
      <%= f.input :name, label: 'Name', placeholder: 'Name' %>
      <%= f.input :benutzername, label: 'Benutzername', placeholder: 'Benutzername' %>
      <%= f.input :email, label: 'Email', placeholder: 'Email', as: :email %>
      <%= f.input :passwort, label: 'Passwort', placeholder: 'Passwort', as: :password %>

      <%= f.submit 'Registrieren', class: 'btn btn-danger pull-right' %>
      <div class="clearfix" />
    <% end %>
  </div>
</div>
