<%= event_source('UserProjection') %>
<h1>Benutzerübersicht</h1><br>
<table class="table table-striped">
	<thead>
		<tr>
			<th width="5%">id</th>
			<th>Benutzername</th>
			<th>Name, Vorname</th>
			<th>Email</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Rolle</th>
      <% if @current_user.superior? %>
      	<th></th>
      <% end %>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.benutzername %></td>
				<td><%= user.name %>, <%= user.vorname %></td>
				<td><%= user.email %></td>
				<td><%= link_to 'Bearbeiten', edit_user_path(user) %></td>
				<td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></td>
				<% if user.banned? %>
        <td><%= link_to 'Sperrung aufheben', unban_user_path(id: user.id), method: :put %></td>
				<% else %>
        <td><%= link_to 'Sperren', ban_user_path(id: user.id), method: :put %></td>
        <% end %>
        <% case user.typ %>
        	<% when 0 %>
        		<td>Nutzer</td>
        	<% when 1 %>
        		<td>Forum-Moderator</td>
        	<% when 2 %>
        		<td>Forum-Administrator</td>
        	<% else %>
        		<td>Typ unbekannt</td>
        	<% end %>
        <% if @current_user.superior? %>
        	<td><%= link_to "Typ ändern", edit_role_path(id: user.id) %></td>
        <% end %>
			</tr>
		<% end %>
	</tbody>
</table>
