<%= javascript_tag render partial: 'eventstream/eventstream', formats: [:js], locals: {event_id: @event_id} %>
<h1>Benutzerübersicht</h1><br>
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>Benutzername</th>
			<th>Name</th>
			<th>Vorname</th>
			<th>Email</th>
      <th></th>
      <th></th>
      <th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.benutzername %></td>
				<td><%= user.name %></td>
				<td><%= user.vorname %></td>
				<td><%= user.email %></td>
				<td><%= link_to 'Edit', edit_user_path(user) %></td>
				<td><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% if user.banned? %>
					<td><%= link_to 'Sperrung aufheben', ban_user_path(id: user.id, ban: false) %></td>
				<% else %>
        	<td><%= link_to 'Sperren', ban_user_path(id: user.id, ban: true) %></td>
        <% end %>
			</tr>
		<% end %>
	</tbody>
</table>