<h1>Willkommen <%= @current_user.benutzername %></h1>

<h2>Ihre letzten Posts</h2>

<table class="table">
  <thead>
  <tr>
    <th>Titel</th>
    <th>Text</th>
    <th>Zeit</th>
  </tr>
  </thead>
  <tbody>
  <% @lastposts.each do |post| %>
   <tr>
     <td><%=post.title %></td>
     <td><%=post.text %></td>
     <td><%=post.created_at %></td>
  <% end %>
  </tbody>
</table>

<%= link_to 'Nutzerdetails bearbeiten', edit_user_path(current_user) %>

<h2>Letzte Aktivitäten der von Ihnen verfolgten Diskussionen</h2>
<table>
  <colgroup span="2"></colgroup>
  <% i = true
  @subscriptions.each do |subscription|
    if i
      i = false %>
      <tr>
    <% else
      i = true
    end %>
    <td>
      <%= link_to subscription.topic_name, topic_path(id: subscription.topic_id) %>
      <table style="width:100%">
        <colgroup>
          <col width="3*">
          <col width="5*">
        </colgroup>
        <thead>
          <tr>
            <th>Nutzer</th>
            <th>Post</th>
          </tr>
        </thead>
        <tbody>
          <%subscription.subscribedposts.each do |post| %>
            <tr>
              <td><%= post.benutzername %><br>
                <%= user_gravatar(post.gravatar_id) %></td>
              <td>
                <h3><%= "(update) " if post.update %><%= post.title %><br></h3><br>
                <%= post.text %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "Einstellungen...", edit_subscription_path(id: subscription.id) %>
      <%= link_to 'Verfolgen beenden', subscription, method: :delete %>
    </td>
    <%= "</tr>" if i %>
  <% end %>
</table>

<% if @admin %>
<div class="admin">
 <h2>Adminbereich</h2>
 <%= link_to 'Userübersicht', user_path(id: 1) %>
 <%= link_to 'Topicübersicht', thema_topics_path(thema_id: 1) %>
 <h3>Aktuelle Nutzeranfragen</h3><br>
 <table class="table">
   <thead>
   <tr>
     <th>Message</th>
     <th>Nutzer</th>
   </tr>
   </thead>
   <tbody>
   <% @admin_messages.each do |amessage| %>
    <tr>
      <td><%= amessage.message %></td>
      <td><%= amessage.user.benutzername %></td>
    </tr>
   <% end %>
   </tbody>
 </table>
</div>
<% end %>
