<%= javascript_tag render partial: 'eventstream/eventstream', formats: [:js], locals: {event_id: @event_id} %>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <p><%= "#{@adminmessage.user.vorname} #{@adminmessage.user.name} schrieb:" %></p>
    <div class="well"><%= @adminmessage.message %></div>
  </div>
</div>

<%= link_to 'Edit', edit_adminmessage_path(@adminmessage) %> |
<%= link_to 'Back', adminmessages_path %>
