
<%= link_to 'Themas', themas_path %>
<%= link_to 'Admins', adminmessages_path %>
<%= link_to 'Registrieren', new_user_path %>

<p>Latest Topics:</p>
   <table>
     <thead>
       <tr>
         <td><b>Title</b></td>
           <td><b>User</b></td>
         <td></td>
       </tr>
     </thead>
<% @Latesttopics.each do |topic| %>

     <tbody>
      <tr>
        <td><%= topic.title %></td>
        <td><%= User.find(topic.user_id).benutzername %></td>
        <td><%= link_to 'Show', topic_path(topic) %></td>
        
      </tr>
     </tbody>
  
    <% end %>
</table>