<div class="well">
  <%= simple_form_for(@subscription) do |f| %>

    <div class="checkbox">
      <%= f.label :email do %>
        <%= f.check_box :email %>
        Neues per Email abonnieren
      <% end %>
    </div>
    <%= f.hidden_field :topic_id %>
    <br />
    <%= f.button :submit, class: 'btn btn-danger' %>
    <%= link_to 'Abbrechen', userpage_users_path, class: 'btn btn-default' %>
  <% end %>
</div>
