<div class="col-sm-6 col-xs-offset-3">
  <h1>Rolle des Nutzer ändern</h1>

  <div class="well">
    <%= simple_form_for(@role) do |f| %>
        <%= f.input :typ do %>
            <%= f.collection_radio_buttons(:typ, [[0, 'Normaler Nutzer'] ,[1, 'Forum-Moderator'], [2, 'Administrator']], :first, :last, item_wrapper_tag: :div, item_wrapper_class: :radio) { |b| b.radio_button + b.label } %>
        <% end %>

        <div class="pull-right clearfix">
          <%= f.submit "Änderungen speichern", class: 'btn btn-danger' %>
          <%= link_to "Zurück zur Nutzerübersicht", user_path(id: 1), class: 'btn btn-default' %>
        </div>
        <div class="clearfix"></div>
    <% end %>
  </div>
</div>
