<h2>Nutzerrolle ändern</h2>
<%= form_tag({controller: "roles", action: "update"}, method: "put") do %>
	<%= label_tag(:typ_0, "Normaler Nutzer") %>
	<%= radio_button_tag(:typ, "0") %><br>
	<%= label_tag(:typ_1, "Forum-Moderator") %>
	<%= radio_button_tag(:typ, "1") %><br>
	<%= submit_tag("Änderungen speichern")%>
<% end %><br>
<%=link_to "Zurück zur Nutzerübersicht", user_path(id: 1) %>
