<%= javascript_tag render partial: 'eventstream', formats: [:js], locals: {event_id: @event_id} %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Titel:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<p>
  <strong>Gepostet am</strong>
  <%= @post.time %>
</p>

<p>
  <strong>(User:)</strong>
  <%= User.find(post.user_id).benutzername %>
</p>


<%= link_to 'Edit', edit_thema_topic_post_path(@ids, @post) %> |
<%= link_to 'Back', thema_topic_posts_path(@ids) %>
