<div class="well">
  <%= simple_form_for(@thema) do |f| %>
    <% if @thema.errors.any? %>
      <div class="alert alert-error">
        <ul class="list-unstyled">
          <% @thema.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.input :title, label: 'Titel', placeholder: 'Titel' %>
    <%= f.input :description, label: 'Beschreibung', as: :text %>
    
    <%= f.input :belong, collection: Thema.all, label_method: :title, value_method: :id, label: "Thema", include_blank: 'Wurzel' %>


    <span class="pull-right">
      <%= link_to 'Abbrechen', :back || thema_path(:thema_id), class: 'btn btn-default' %>
      <%= f.submit 'Speichern', class: 'btn btn-danger' %>
    </span>
    <div class="clearfix" />

  <% end %>
</div>

