<%= javascript_tag render partial: 'eventstream', formats: [:js], locals: {event_id: @event_id} %><h1>Listing themas</h1>


  <% if flash.any? %>
    <div id="error_explanation">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
    </div>
  <% end -%>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= link_to thema.title, thema %></td>
        <td><%= thema.description %></td>
        <td><%= link_to 'Bearbeiten', edit_thema_path(thema) %></td>
        <td><%= link_to 'Destroy', thema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thema', new_thema_path(belong_id: 0) %>
<%= link_to 'Zurück zur Startseite', '/' %>