<%= javascript_tag render partial: 'application/eventstream/eventstream', formats: [:js], locals: {event_id: @event_id, projection: 'ThemaProjection'} %>
<h1>Themenübersicht</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= link_to thema.title, thema %></td>
        <td><%= thema.description %></td>
        <td><%= link_to 'Bearbeiten', edit_thema_path(thema), class: 'btn btn-warning btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Zurück zur Startseite', root_url, class: 'btn btn-default btn-sm' %>
<%= link_to 'Neues Thema', new_thema_path(belong_id: 0), class: 'btn btn-primary btn-sm' if current_user.admin? %>

