<%= javascript_tag render partial: 'eventstream/eventstream', formats: [:js], locals: {event_id: @event_id} %>
<h1>Themenübersicht</h1>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= link_to thema.title, thema %></td>
        <td><%= thema.description %></td>
        <td><%= link_to 'Bearbeiten', edit_thema_path(thema) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thema', new_thema_path(belong_id: 0) %>
<%= link_to 'Zurück zur Startseite', '/' %>
