<%= javascript_tag render partial: 'eventstream', formats: [:js], locals: {event_id: @event_id} %><p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thema.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thema.description %>
</p>

<p>
  <h2>Unterthemen</h2><br/>
	<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= thema.title %></td>
        <td><%= thema.description %></td>
        <td><%= link_to 'Show', thema %></td>
        <td><%= link_to 'Edit', edit_thema_path(thema) %></td>
        <td><%= link_to 'Destroy', thema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</p>
<p>
  <h2>Zugehörige Topics</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>User</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= topic.title %></td>
          <td><%= (topic.user.benutzername) %></td>
          <td><%= link_to 'Show', thema_topic_path(thema_id: @thema.id) %></td>
          <td><%= link_to 'Edit', edit_thema_topic_path(id: topic.id, thema_id: @thema.id, topic: topic) %></td>
          <td><%= link_to 'Destroy', thema_topic_path(topic,@thema), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>

<%= link_to 'Neues Topic', new_thema_topic_path(@thema) %> 
<%= link_to 'Neues Thema', new_thema_path(belong: @thema.id) %>
<%= link_to 'Edit', edit_thema_path(@thema) %>
<%= link_to 'Back', themas_path %>
