<%= event_source('ThemaProjection') %>
<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>
    <%= @thema.title %>
    <%= link_to 'Bearbeiten', edit_thema_path(@thema), class: 'btn btn-warning btn-sm' if current_user.admin? %>
  </h1>

  <p><%= @thema.description %></p>

</div>


<article id="unterthemen">
<h2>
  Unterthemen
  <%= link_to 'Unterthema hinzufügen', new_thema_path(belong: @thema.id), class: 'btn btn-link' if current_user.admin? %>
</h2>

<% unless @thema.unterthemen.empty? %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @thema.unterthemen.each do |thema| %>
      <tr>
        <td><%= link_to thema.title, thema %></td>
        <td><%= thema.description %></td>
        <td>
          <span class="pull-right">
          <%= link_to 'Bearbeiten', edit_thema_path(thema), class: 'btn btn-warning btn-xs' %>
          <%= link_to 'Löschen', thema, method: :delete, data: { confirm: 'Willst du das Unterthema wirklich löschen?' }, class: 'btn btn-danger btn-xs' %></td>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
</article>

<article id="topics">
  <h2>
    Zugehörige Diskussionen
    <%= link_to 'Diskussion starten', new_thema_topic_path(thema_id: @thema.id), class: 'btn btn-link' %>
  </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Diskussion</th>
        <th>Benutzer</th>
        <th>Posts</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @thema.topics.each do |topic| %>
        <tr>
          <td><%= link_to 'Verfolgen', new_subscription_path(topic_id: topic.id), class: 'btn btn-primary btn-xs' %></td>
          <td><strong><%= link_to topic.title, topic_path(topic) %></strong></td>
          
          <% unless User.where(id: topic.user_id).empty? %>
            <td><%= gravatar(topic.user_id) %> <%= topic.user.benutzername %></td>
          <% else %>
            <td>Gelösche Person</td>
          <% end %>

          <td><%= topic.count %></td>
          
          <td>
            <span class="pull-right">
              <%= link_to 'Bearbeiten', edit_topic_path(topic), class: 'btn btn-warning btn-xs' %>
              <%= link_to 'Löschen', topic, method: :delete, data: { confirm: 'Willst du die Diskussion wirklich löschen?' }, class: 'btn btn-danger btn-xs' %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</article>

<% if @thema.belong.nil? %>
  <%=link_to 'Zurück zur Übersicht', themas_path, class: 'btn btn-default' %>
<% else %>
  <%= link_to 'Zurück', thema_path(id: @thema.belong), class: 'btn btn-default' %>
<% end %>
