<%= javascript_tag render partial: 'eventstream', formats: [:js], locals: {event_id: @event_id} %><p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thema.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @thema.description %>
</p>

<p>
  <strong>Lastact:</strong>
  <%= @thema.lastact %>
</p>

<p>
	<h2>Unterthemen</h2><br>
	<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= thema.title %></td>
        <td><%= thema.description %></td>
        <td><%= link_to 'Show', thema %></td>
        <td><%= link_to 'Edit', edit_thema_path(thema) %></td>
        <td><%= link_to 'Destroy', thema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_thema_path(@thema) %> |
<%= link_to 'Back', themas_path %>
