<%= javascript_tag render partial: 'eventstream/eventstream', formats: [:js], locals: {event_id: @event_id} %>
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @thema.title %></h1>
</p>

<p>
  <%= @thema.description %>
</p>
<%= link_to 'Edit', edit_thema_path(@thema) if current_user.admin? %>
<p>
  <h2>Unterthemen</h2><br/>
	<table>
  <thead>
    <tr>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @themas.each do |thema| %>
      <tr>
        <td><%= link_to thema.title, thema %></td>
        <td><%= thema.description %></td>
        <td><%= link_to 'Bearbeiten', edit_thema_path(thema) %></td>
        <td><%= link_to 'Löschen', thema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <%= link_to 'Neues Thema', new_thema_path(belong: @thema.id) if current_user.admin? %>
</p>

<p>
  <h2>Zugehörige Diskussionen</h2>
  <table>
    <thead>
      <tr>
        <th>Benutzer</th>
        <th>Diskussion</th>
        <th>Aktionen</th>
      </tr>
    </thead>
  
    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td> Erstellt von:<br>
            <strong><%= topic.benutzername %></strong><br>
            <%= user_gravatar(topic.gravatar_id) %>
          </td>
          <td><strong><%= link_to topic.title, topic_path(topic) %></strong></td>
          <td><%= link_to 'Edit', edit_topic_path(topic) %><br>
          <%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Neue Diskussion', new_thema_topic_path(thema_id: @thema.id) %>
</p>
<hr>
<% if @thema.belong.nil? %>
  <%=link_to 'Zurück zur Übersicht', themas_path %>
<% else %>
  <%= link_to 'Zurück', thema_path(id: @thema.belong) %>
<% end %>
