<!DOCTYPE html>
<html>
<head>
 <title>Disco-Forum</title>
 <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
  <h1><%= link_to "Disco Forum", "/" %></h1>
 <div id="header">
   <%= image_tag 'webbanner_home.png' %>
   <%= render 'layouts/login' %>
 </div>
 <%= render 'layouts/flash' %>
 <%= yield %>
</body>
</html>
