<!DOCTYPE html>
<html>
<head>
  <title>DiscoBlog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>TUDisco-Forum</h1>
<div id="header">
  <img src="/assets/webbanner_home.png" >
  <%= render "layouts/login" =%> 
</div>
<%= yield %>
  
</body>
</html>
