<!DOCTYPE html>
<html>
  <head>
    <title>Disco-Forum</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Disco Forum', root_url, class: 'navbar-brand' %>
        </div>

        <ul class="nav navbar-nav">
          <li><%= link_to 'Themen', themas_path %></li>
          <li><%= link_to 'Admin Nachrichten', admin_messages_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if session[:user].present? %>
            <li>
              <p class="nav navbar-text"><%= username %></p>
            </li>
          
            <li><%= userpage %></li>
            <li><p class="nav navbar-text"><%= gravatar(session[:user]) %></p></li>
          <% else %>
            <li><%= link_to 'Registrieren', new_user_path %></li>
          <% end %>
            <li><%= usertest %></li>
        </ul>
      </div>
    </nav>
 
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
</body>
</html>
